
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#content  {
  background-color: rgb(10, 11, 19);
  color: rgb(226, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Archivo Narrow', sans-serif;
}

nav {
  display: flex;
  gap: 80px;
  padding-top: 20px;
  font-size: 1.3rem;
}

nav a:hover {
  cursor: pointer;
  color:rgb(192, 190, 190);
}

.link-container p {
  text-align: center;
  color: rgb(10, 11, 19);
  font-size: 1.8rem;
  line-height: 0px;
  margin-top: 10px;
  transition: 0.5s;
}

.inner-page.home {
  display: grid;
  grid-template-columns: 350px 600px;
  margin-left: 25vw;
  margin-top: 100px;
  margin-right: 25vw;
  margin-bottom: 200px;
}

/* @media only screen and (max-width: 1400px) {
  .inner-page.home {
    margin-left: 40px;
    margin-right: 40px;
  }
} */

h1 {
  color: rgb(207, 104, 104);
  position: relative;
  top: 20px;
  font-size: 5rem;
}

h2 {
  color: rgb(207, 104, 104);
  font-size: 4rem;
}


h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

img {
  filter: invert(54%) sepia(49%) saturate(537%) hue-rotate(314deg) brightness(84%) contrast(92%);
  margin-top: 15px;
  width: 310px;

}

.left-side-container {
  min-width: 350px;
}

.right-side-container {
  padding-top: 40px;
  padding-left: 80px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 30px;
}

.right-side-container p {
  margin-bottom: 35px;
}

.right-side-container .slogan {
  font-style: italic;
  margin-top:  60px;
}


/* Menu styles */

.inner-page.menu {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 130px;
  width: 1000px;
}


.inner-page.menu .item {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1rem;
  gap: 15px;
  cursor: pointer;
  padding: 5px;
}

.inner-page.menu .item:hover {
  background-color: rgb(37, 37, 48);
}


.inner-page.menu .item div p:nth-child(1) {
  color: rgb(207, 104, 104);
}

.inner-page.menu .item div p:nth-child(2) {
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.inner-page.menu .item div p:nth-child(3) {
  font-style: italic;
  align-self: end;
}

.inner-page.menu .item img {
  margin: 0px;
  filter: none;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.inner-page.menu .item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* About page */

.inner-page.about {
  padding-top: 80px;
  margin-left: 300px;
  margin-right: 300px;
  width: 500px;
}

.inner-page.about h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.inner-page.about h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.inner-page.about p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.credit-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.inner-page.about a {
  color:rgb(226, 216, 216);
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
}

.inner-page.about a:after {
  background-image: url('./img/github-mark-white.png');
  background-size: 10px 10px;
  content:"";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.inner-page.about a:hover {
  color:rgb(207, 104, 104);
}

